{% load static %} 
{% include 'header.html' %}
 <!-- 404 Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-secondary"></i>
                    <h1 class="display-1">404</h1>
                    <h1 class="mb-4">Página No Encontrada</h1>
                    <p class="mb-4">Sentimos que la página que buscas no existe. Intenta de nuevo en otro momento</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'index' %}">Volver a la página principal</a>
                </div>
            </div>
        </div>
    </div>
hola mundo
        <!-- 404 End -->
         
    {
% include 'footer.html' %}
    